.productCard {
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.productCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* IMAGE */
.productCard__image {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCard__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* CONTENT */
.productCard__info {
  flex: 1;
  margin-top: 10px;
}

.productCard__title {
  font-size: 14px;
  font-weight: 500;
  color: #0f1111;
  line-height: 1.4;
  margin-bottom: 6px;

  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productCard__price {
  font-size: 18px;
  font-weight: bold;
  color: #b12704;
  margin-bottom: 6px;
}

.productCard__rating {
  color: #f0c14b;
  font-size: 14px;
  margin-bottom: 10px;
}

/* BUTTON */
.productCard__btn {
  margin-top: auto;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #a88734;
  background: linear-gradient(#f7dfa5, #f0c14b);
  cursor: pointer;
  font-size: 14px;
}

.productCard__btn:hover {
  background: linear-gradient(#f5d78e, #eeb933);
}

.productCard__link {
  text-decoration: none;
  color: inherit;
  display: block;
}