.checkout{
    padding: 20px;
}
.checkout__item{
    display: flex;
    gap: 15px;
    margin-bottom:20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.checkout__item img{
    width:120px;
    object-fit: contain;
}
.checkout__info button {
    margin-top: 5px;
    padding: 6px;
    background-color: #f0c14b;
    border: none;
    cursor: pointer;
}