.productPage {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 1400px;
  margin: auto;
}

/* LOADING */
.loading {
  text-align: center;
  margin-top: 100px;
}

/* IMAGE SECTION */
.imageSection {
  display: flex;
  gap: 20px;
  width: 40%;
}

.thumbnailColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumb {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 1px solid #ddd;
  padding: 5px;
  cursor: pointer;
}

.thumb:hover {
  border: 1px solid #f0c14b;
}

.active {
  border: 2px solid #f0c14b;
}

.mainImageWrapper {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainProductImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* INFO SECTION */
.infoSection {
  width: 35%;
}

.infoSection h1 {
  font-size: 22px;
  font-weight: 500;
}

.rating {
  color: #007185;
  margin: 10px 0;
}

.priceBlock {
  margin-top: 10px;
}

.deal {
  color: #cc0c39;
  font-weight: bold;
  margin-right: 10px;
}

.discounted {
  font-size: 28px;
  font-weight: bold;
}

.mrp {
  margin-top: 5px;
}

.original {
  text-decoration: line-through;
  color: gray;
  margin-left: 5px;
}

.discountText {
  color: green;
  font-weight: 500;
}

.brand {
  margin: 15px 0;
}

.description {
  margin: 10px 0;
  line-height: 1.6;
}

.aboutList {
  padding-left: 20px;
}

.aboutList li {
  margin-bottom: 6px;
}

/* BUY BOX */
.buySection {
  width: 20%;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.buySection h2 {
  margin-bottom: 10px;
}

.freeDelivery {
  color: #007600;
  margin-bottom: 10px;
}

.stock {
  margin-bottom: 15px;
  font-weight: 500;
}

.addBtn {
  width: 100%;
  padding: 10px;
  background-color: #ffd814;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.addBtn:hover {
  background-color: #f7ca00;
}

.buyBtn {
  width: 100%;
  padding: 10px;
  background-color: #ffa41c;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.buyBtn:hover {
  background-color: #fa8900;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .productPage {
    flex-direction: column;
  }

  .imageSection,
  .infoSection,
  .buySection {
    width: 100%;
  }

  .mainImageWrapper {
    width: 100%;
    height: 300px;
  }
}