.accountSection {
  position: relative;
  cursor: pointer;
}

.accountDropdown {
  position: absolute;
  top: 45px;
  right: 0;
  width: 230px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 15px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.signinBtn {
  background-color: #ffd814;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
}

.dropdownItem {
  padding: 6px 0;
  text-decoration: none;
  color: black;
}

.dropdownItem:hover {
  text-decoration: underline;
}